/* Header Styles */
header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.header-left h1 {
    font-size: 1.2em;
    font-weight: 400;
    color: antiquewhite;
    text-transform: uppercase;
    margin: 0; /* Ensure proper alignment */
}

.header-right ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0; /* Ensure no extra spacing */
    padding: 0;
}

.header-right ul li {
    display: inline-block;
}

.header-right ul li a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1em;
}

/* Main Content Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Adding a subtle shadow for better depth */
 margin-top: 10%;
}


.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #5c5c5c; /* Border to match the tab highlight color */
}

h1 {
    font-size: 24px;
    margin: 5px 0;
}

.job-title {
    font-size: 14px;
    color: #a9a9a9;
}

.tabs {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.tab {
    background-color: #3c3c3c;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab.active {
    background-color: #5c5c5c;
}

.tab:hover {
    background-color: #4c4c4c; /* Hover effect for better interactivity */
}

.content section {
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about p, .contact p, .work-experience p {
    margin: 10px 0;
    line-height: 1.6; /* Improved readability */
}

.contact a, .work-experience a {
    color: #1e90ff;
    text-decoration: none;
}

.contact a:hover, .work-experience a:hover {
    text-decoration: underline;
}

h3 {
    font-size: 18px;
    color: #d3d3d3;
    margin-bottom: 10px;
    border-bottom: 1px solid #3c3c3c; /* Adding a border for separation */
    padding-bottom: 5px;
}

.contact-info, .work-experience {
    background-color: #333333; /* Section background for emphasis */
    padding: 15px;
    border-radius: 8px;
}

.work-experience h4, .contact-info h4 {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 5px;
}

.work-experience a, .contact-info a {
    display: inline-block;
    margin-top: 5px;
    color: #1e90ff;
}
